<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ca8ac">  <td>19/08/07 21:07:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Scenario_2.Login()[pri:0, instance:frameworkdata.Test_Scenario_2@6a03bcb1]">Login</td> 
  <td>main@1760126453</td>   <td></td> </tr>
<tr bgcolor="6ca8ac">  <td>19/08/07 21:08:55</td>   <td>57863</td> <td>&nbsp;</td><td title="&lt;&lt;Test_Scenario_2.closeBrowser()[pri:0, instance:frameworkdata.Test_Scenario_2@6a03bcb1]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1760126453</td>   <td></td> </tr>
<tr bgcolor="6ca8ac">  <td>19/08/07 21:07:53</td>   <td>-4724</td> <td>&nbsp;</td><td title="&gt;&gt;Test_Scenario_2.driverinitialize()[pri:0, instance:frameworkdata.Test_Scenario_2@6a03bcb1]">&gt;&gt;driverinitialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1760126453</td>   <td></td> </tr>
</table>
