<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d899be">  <td>19/07/12 06:19:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="tmv_filtering.ApplyMoreFiltersQuery1()[pri:0, instance:frameworkdata.Scenarios.tmv.tmv_filtering@557caf28]">ApplyMoreFiltersQuery1</td> 
  <td>main@366873404</td>   <td></td> </tr>
<tr bgcolor="9f66ed">  <td>19/07/12 06:20:40</td>   <td>76572</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="tmv_JobTitle_compare.ApplyMoreFiltersQuery1()[pri:0, instance:frameworkdata.Scenarios.tmv.tmv_JobTitle_compare@31190526]">ApplyMoreFiltersQuery1</td> 
  <td>main@366873404</td>   <td></td> </tr>
<tr bgcolor="9795b6">  <td>19/07/12 06:21:22</td>   <td>118138</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="tmv_JobTitle.ApplyMoreFiltersQuery1()[pri:0, instance:frameworkdata.Scenarios.tmv.tmv_JobTitle@3eb738bb]">ApplyMoreFiltersQuery1</td> 
  <td>main@366873404</td>   <td></td> </tr>
<tr bgcolor="d899be">  <td>19/07/12 06:19:17</td>   <td>-6527</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="tmv_filtering.Login()[pri:0, instance:frameworkdata.Scenarios.tmv.tmv_filtering@557caf28]">Login</td> 
  <td>main@366873404</td>   <td></td> </tr>
<tr bgcolor="9f66ed">  <td>19/07/12 06:20:36</td>   <td>71937</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="tmv_JobTitle_compare.Login()[pri:0, instance:frameworkdata.Scenarios.tmv.tmv_JobTitle_compare@31190526]">Login</td> 
  <td>main@366873404</td>   <td></td> </tr>
<tr bgcolor="9795b6">  <td>19/07/12 06:21:16</td>   <td>112430</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="tmv_JobTitle.Login()[pri:0, instance:frameworkdata.Scenarios.tmv.tmv_JobTitle@3eb738bb]">Login</td> 
  <td>main@366873404</td>   <td></td> </tr>
<tr bgcolor="d899be">  <td>19/07/12 06:20:25</td>   <td>61486</td> <td>&nbsp;</td><td title="&lt;&lt;tmv_filtering.closeBrowser()[pri:0, instance:frameworkdata.Scenarios.tmv.tmv_filtering@557caf28]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@366873404</td>   <td></td> </tr>
<tr bgcolor="9f66ed">  <td>19/07/12 06:21:07</td>   <td>103544</td> <td>&nbsp;</td><td title="&lt;&lt;tmv_JobTitle_compare.closeBrowser()[pri:0, instance:frameworkdata.Scenarios.tmv.tmv_JobTitle_compare@31190526]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@366873404</td>   <td></td> </tr>
<tr bgcolor="9795b6">  <td>19/07/12 06:21:51</td>   <td>147092</td> <td>&nbsp;</td><td title="&lt;&lt;tmv_JobTitle.closeBrowser()[pri:0, instance:frameworkdata.Scenarios.tmv.tmv_JobTitle@3eb738bb]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@366873404</td>   <td></td> </tr>
<tr bgcolor="d899be">  <td>19/07/12 06:19:07</td>   <td>-16299</td> <td>&nbsp;</td><td title="&gt;&gt;tmv_filtering.driverinitialize()[pri:0, instance:frameworkdata.Scenarios.tmv.tmv_filtering@557caf28]">&gt;&gt;driverinitialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@366873404</td>   <td></td> </tr>
<tr bgcolor="9f66ed">  <td>19/07/12 06:20:29</td>   <td>65734</td> <td>&nbsp;</td><td title="&gt;&gt;tmv_JobTitle_compare.driverinitialize()[pri:0, instance:frameworkdata.Scenarios.tmv.tmv_JobTitle_compare@31190526]">&gt;&gt;driverinitialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@366873404</td>   <td></td> </tr>
<tr bgcolor="9795b6">  <td>19/07/12 06:21:10</td>   <td>106855</td> <td>&nbsp;</td><td title="&gt;&gt;tmv_JobTitle.driverinitialize()[pri:0, instance:frameworkdata.Scenarios.tmv.tmv_JobTitle@3eb738bb]">&gt;&gt;driverinitialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@366873404</td>   <td></td> </tr>
</table>
